---
layout: default
---
<section class="matches">
    {% for item in site.data.matches %}
    <h4>{{ item.date }}</h4>
      {% for itm in item.groups %}
      <details>
        <summary class="row">
          <article class="info">
            <h5>{{ itm.group }}</h5>
            <h5>ورزشگاه {{ itm.stadium }}</h5>
            <h6>شهر {{ itm.city }}</h6>
          </article>
          <article class="content">
            <div class="team-a">
              <img src="{{ itm.flag1}}" alt="{{ itm.team1 }}">
              <span>{{ itm.team1 }}</span>
            </div>
            <div class="time"><span>{% if  itm.pts1 == 'zero' %}{{ itm.time }} {% else %} {{ itm.pts1 }} - {{ itm.pts2 }} {% endif %}</span></div>
            <div class="team-b">
              <span>{{ itm.team2 }}</span>
              <img src="{{ itm.flag2}}" alt="{{ itm.team2 }}">
            </div>
          </article>
        </summary>
        {% if  itm.pts1 == 'zero' %} {% else %}
        <article class="contents">
          <div class="team-a">
            <ul>
              {% if  itm.pts1 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/goal.png" alt="">
                <span>{{ itm.goal1 }}</span>
              </li>
              {% endif %}
              {% if  itm.yellow1 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/YellowCard.png" alt="">
                <span>{{ itm.yellow1 }}</span>
              </li>
              {% endif %}
              {% if  itm.red1 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/RedCard.png" alt="">
                <span>{{ itm.red1 }}</span>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="team-b">
            <ul>
              {% if  itm.pts2 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/goal.png" alt="">
                <span>{{ itm.goal2 }}</span>
              </li>
              {% endif %}
              {% if  itm.yellow2 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/YellowCard.png" alt="">
                <span>{{ itm.yellow2 }}</span>
              </li>
              {% endif %}
              {% if  itm.red2 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/RedCard.png" alt="">
                <span>{{ itm.red2 }}</span>
              </li>
              {% endif %}
            </ul>
          </div>
        </article>
        {% endif %}
      </details>
      {% endfor %}
    {% endfor %}
  </section>

