<header>
  <div class="header">
    <a href="/">
      <img src="{{ site.url }}/assets/img/worldcup.png" alt="FIFA World Cup Brazil 2014">
      <h4>FIFA World Cup Brazil 2014</h4>
    </a>
  </div>
  <nav class="nav nav-list">
    <ul>
      <li class="{% if page.url == '/' %}selected{% endif %}">
        <a href="/">
          <div class="center">
              <h4 class="middle">مرحله حذفی</h4>
          </div>
        </a>
      </li>
      <li class="{% if page.url == '/teams/' %}selected{% endif %}">
        <a href="/teams">
          <div class="center">
              <h4 class="middle">تیم‌ها</h4>
          </div>
        </a>
      </li>
      <li class="{% if page.url == '/groups/' %}selected{% endif %}">
        <a href="/groups">
          <div class="center">
              <h4 class="middle">گروه‌ها</h4>
          </div>
        </a>
      </li>
      <li class="{% if page.url == '/stadiums/' %}selected{% endif %}">
        <a href="/stadiums">
          <div class="center">
              <h4 class="middle">ورزشگاه‌ها</h4>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>
