<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width, minimal-ui">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="FIFA, WorldCup2014‬, Brazil, ‎TeamMelli‬, Iran, جام جهانی, ایران">
    <link href="//plus.google.com/+HosseinKarami" rel="author">
    <link charset="utf-8" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" media="screen" rel="stylesheet">
    <!--[if lt IE 9]><script src="{{ site.url }}/assets/js/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

    <meta property="og:url" content="http://fifawc.ir/">
    <meta property="og:title" content="FIFA World Cup Brazil 2014 | جام جهانی برزیل 2014">
    <meta property="og:description" content="آخرین نتایج مسابقات در جام جهانی برزیل 2014 را می توانید از این وبسایت دنبال کنید.">
    <meta property="og:image" content="http://fifawc.ir/assets/img/worldcup.png">
</head>
