@font-face {
    font-family: 'Yekan';
    src: url('../assets/fonts/Yekan.eot');
    src: url('../assets/fonts/Yekan.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Yekan.woff') format('woff'),
         url('../assets/fonts/Yekan.ttf') format('truetype'),
         url('../assets/fonts/Yekan.svg#Yekan') format('svg');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0600–06FF;
}

@font-face {
    font-family: 'Mitra';
    src: url('../assets/fonts/mitra.eot');
    src: url('../assets/fonts/mitra.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/mitra.woff') format('woff'),
         url('../assets/fonts/mitra.ttf') format('truetype'),
         url('../assets/fonts/mitra.svg#mitra') format('svg');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0600–06FF;
}

@charset "UTF-8";

@font-face {
  font-family: "hossein";
  src:url("../assets/fonts/hossein.eot");
  src:url("../assets/fonts/hossein.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/hossein.woff") format("woff"),
    url("../assets/fonts/hossein.ttf") format("truetype"),
    url("../assets/fonts/hossein.svg#hossein") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hossein" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hossein" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hossein:before {
  content: "a";
}
