---
layout: default
---
<section class="group">
      {% for item in site.data.groups %}
      {% if  item.group == 'F' %}
  <section class="groups">
    <h4>گروه {{ item.group }}</h4>
    <div class="head">
      <h4>تیم‌ها</h4>
      <h4>بازی‌ها</h4>
      <h4>برد</h4>
      <h4>مساوی</h4>
      <h4>باخت</h4>
      <h4>گل زده</h4>
      <h4>گل خورده</h4>
      <h4>امتياز</h4>
    </div>
    {% for team in item.teams %}
    <article class="rows">
      <div>
        <img src="{{ site.url }}/{{ team.flag }}" alt="{{ team.team }}">
        <span>{{ team.team }}</span>
      </div>
      <div>{{ team.played }}</div>
      <div>{{ team.won }}</div>
      <div>{{ team.draw }}</div>
      <div>{{ team.lost }}</div>
      <div>{{ team.GF }}</div>
      <div>{{ team.GA }}</div>
      <div>{{ team.points }}</div>
    </article>
      {% endfor %}
  </section>
  {% endif %}
    {% endfor %}
</section>
<section class="matches">
    {% for item in site.data.matches %}
    {% for itm in item.groups %}
    {% if  itm.group == 'گروه F' %}
    <h4>{{ item.date }}</h4>
    <details>
    <summary class="row">
      <article class="info">
        <h5>{{ itm.group }}</h5>
        <h5>ورزشگاه {{ itm.stadium }}</h5>
        <h6>شهر {{ itm.city }}</h6>
      </article>
      <article class="content">
        <div class="team-a">
          <img src="{{ site.url }}/{{ itm.flag1}}" alt="{{ itm.team1 }}">
          <span>{{ itm.team1 }}</span>
        </div>
        <div class="time"><span>{% if  itm.pts1 == 'zero' %}{{ itm.time }} {% else %} {{ itm.pts1 }} - {{ itm.pts2 }} {% endif %}</span></div>
        <div class="team-b">
          <span>{{ itm.team2 }}</span>
          <img src="{{ site.url }}/{{ itm.flag2}}" alt="{{ itm.team2 }}">
        </div>
      </article>
    </summary>
    {% if  itm.pts1 == 'zero' %} {% else %}
      <article class="contents">
        <div class="team-a">
            <ul>
              {% if  itm.pts1 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/goal.png" alt="">
                <span>{{ itm.goal1 }}</span>
              </li>
              {% endif %}
              {% if  itm.yellow1 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/YellowCard.png" alt="">
                <span>{{ itm.yellow1 }}</span>
              </li>
              {% endif %}
              {% if  itm.red1 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/RedCard.png" alt="">
                <span>{{ itm.red1 }}</span>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="team-b">
            <ul>
              {% if  itm.pts2 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/goal.png" alt="">
                <span>{{ itm.goal2 }}</span>
              </li>
              {% endif %}
              {% if  itm.yellow2 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/YellowCard.png" alt="">
                <span>{{ itm.yellow2 }}</span>
              </li>
              {% endif %}
              {% if  itm.red2 == '0' %}
              {% else %}
              <li>
                <img src="{{ site.url }}/assets/img/RedCard.png" alt="">
                <span>{{ itm.red2 }}</span>
              </li>
              {% endif %}
            </ul>
          </div>
      </article>
      {% endif %}
    </details>
    {% endif %}
      {% endfor %}
    {% endfor %}
  </section>

